@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --grey1-color: #eae2e1;
  --grey2-color: #9c9496;
}

.heart-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  border: 2px solid var(--grey1-color);
  padding: 13px 16px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}

.content.heart-active {
  border-color: #f9b9c4;
  background: #fbd0d8;
}

.heart {
  height: 90px;
  width: 90px;
  background: url("img.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  position: absolute;
  top: 50%;
  left: 21%;
  transform: translate(-50%, -50%);
}

.heart.heart-active {
  background-position: right;
  animation: animate .8s steps(28) 1;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.like {
  margin-left: 31px;
  font-size: 21px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: grey;
}

.like.heart-active {
  color: black;
}

.numb:before {
  content: '12';
  font-size: 21px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: var(--grey2-color);
  margin-left: 8px;
}

.numb.heart-active:before {
  content: '13';
  color: black;
}

